<%# layoutfront2 %>

<%@ def.overlayTest:
Zkouška překrytí - pokud je toto vidět, je to rozbitý.
%>

<%@ def.body2:
<div id="wrapper">
<%@ def.somerandombullshit || 'Vchozí obsah!!!' %>
<%@ def.body || '' %>
<%@ def.overlayTest %>
</div>
%>
